/* for mobile and teb  */

@media screen and (max-width: 768px) {
  .btn {
    width: 50%;
    height: 80%;
    padding: 0.5em;
    margin: 0.5em auto;
  }
  .menu-content {
    display: flex;
    flex-direction: column;
  }
  .navigations {
    margin: 0px 1.5rem;
  }
  .main-content {
    font-size: 0.8em;
  }
  .qna-area {
    grid-template-columns: 100%;
    justify-content: flex-start;
    margin: 2rem 0.5rem;
  }

  .details {
    margin: 1rem 2rem;
    height: 100%;
    text-align: right;
  }
  .buttom__btn {
    margin: 2rem;
  }
  .footer-area {
    flex-direction: column;
  }
  #about-web {
    width: 100%;
  }
  .social-icon {
    width: 100%;
  }
}
