:root {
  --main-color: #ffffff;
  --second-color: #e7e5e4;
  --top-color: #030203;
  --btn-color: #ff930f;
  --font-icon-color: #382526;
  --footer-color: #232323;
  --medium-color: rgba(255, 245, 245, 0.521);
  --font-color: #6a6a6a;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  background: var(--top-color);
  position: sticky;
  top: 0;
}
.navigations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin: 0px 3rem;
  font-size: 0.8rem;
}
#active {
  color: var(--main-color);
}
.logo img {
  width: 12em;
  margin: 1rem 0px 0px 1.5rem;
}
.menu-content {
  display: flex;

  margin: 1rem;
}

.menu-content ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-content ul li {
  align-self: center;
  justify-self: center;
}
.menu-content ul li a {
  text-decoration: none;
  color: var(--medium-color);
  margin: 0px 10px;
  text-transform: uppercase;
  transition: color 0.1s ease-in;
}

.btn {
  height: 100%;

  background: var(--top-color);
  color: var(--medium-color);
  padding: 0.8rem;
  border: 2px solid rgba(255, 245, 245, 0.281);
  border-radius: 5px;
  transition: all 0.1s ease-in;
  text-transform: uppercase;
}
.menu-content ul li a:hover {
  color: var(--second-color);
}
.btn:hover {
  color: var(--second-color);
  border: 2px solid var(--second-color);
}
/* designing main section  */
.main__area {
  background: url(../images/bg_header.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  display: grid;
}
.main-content {
  margin: auto;
  color: var(--main-color);
  font-family: cursive;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}
.main__btn {
  margin: 1rem 0.5em;
  border: 2px solid var(--medium-color);
  padding: 0.8em 3em;
  text-decoration: none;
  color: var(--medium-color);
  transition: all 0.2s;
}
#btn2 {
  background: #ff8c00;
  font-weight: bolder;
  color: var(--main-color);
  border: transparent;
  transition: background 0.2s;
}
#btn2:hover {
  background: #dd7a02;
}
.main__btn:hover {
  color: var(--main-color);
}
/* aboutSkill sections designe  */
.about-skill {
  text-align: center;
}
.aboutSkill {
  text-align: center;
  margin: 3em 0px;
}

.skills-area {
  display: flex;
  flex-wrap: wrap;
  background: var(--second-color);
}
.skill {
  flex: 1 1 auto;
  width: 20rem;
  height: 15rem;
  margin: 0.5em;
  text-align: center;
  padding: 0.5em;
}
.skill img {
  margin: 0px auto;
  width: 3rem;
}
.qna-intro {
  color: rgb(34, 33, 33);
  text-align: center;
  margin: 2em;
  font-size: 1.5rem;
}
/* QNA  part designe */
.qna-area {
  display: grid;
  grid-gap: 3rem 2rem;
  grid-template-columns: 45% 45%;
  place-content: center;
  font-size: 1.2em;
  margin: 2rem;
}
.qna {
  font-size: 100%;
  color: var(--font-color);
}
.qna h4 {
  font-size: 1.3rem;
  color: #2a2929;
}
.highlight,
.highlight > a {
  color: rgba(16, 67, 177, 0.794);
  text-transform: uppercase;
}
.highlight > a {
  text-decoration-color: deepskyblue;
}
/* details style */
.details {
  background: var(--second-color);
  margin: 2rem 5rem;
  min-height: 12rem;
}
.details p {
  padding: 3rem 2rem;
  font-size: 1.2rem;
  text-align: left;
}
/* .details {
  text-align: right;
} */

.buttom__btn {
  background: #ff8c00;
  font-weight: bolder;
  color: var(--second-color);
  padding: 0.8rem 1rem;
  margin: 2rem;
  text-decoration: none;
  transition: color 0.1s;
}
.buttom__btn:hover {
  color: var(--main-color);
}
/* footer designe  */
.footer {
  background: var(--footer-color);
}

.footer-area {
  display: flex;
  flex-wrap: wrap;
  background: var(--footer-color);
  color: var(--second-color);
  padding: 3rem 2rem 1rem;
}
.social-icon img {
  width: 1.5rem;
}
.social-icon a {
  text-decoration: none;
  padding: 2rem 0.5rem;
}
.social-icon {
  width: 10%;
}
.footer-content {
  margin: 0.5rem;
  flex: 1 1 auto;
}
.footer-content h5 {
  font-size: 1.3rem;
  margin: 1rem 0px;
  text-transform: uppercase;
}
#about-web {
  width: 50%;
}
